<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include layout/header.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include layout/navigation.ejs %> <%- include layout/sidebar.ejs %> <%-
      include layout/content-wrapper.ejs %> <%- include layout/footer.ejs %> <%-
      include layout/control-sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <%- include layout/js.ejs %>
  </body>
</html>
